@font-face {
    font-family: avenir-regular;
    src: url(./AvenirNextLTPro-Regular.otf); 
}

@font-face {
    font-family: avenir-bold;
    src: url(./AvenirNextLTPro-Bold.otf); 
}

@font-face {
    font-family: avenir-demi;
    src: url(./AvenirNextLTPro-Demi.otf); 
}